body{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sinzing: border-box;
    box-sizing: border-box; 
    background-color: #e2dede;
    margin-top: 0;     
    font-family: "Roboto Condensed", sans-serif;
}
#containers{  
    width: 882px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}
.cont01{
    background-color: #404040;
    height: 90px;
}
.cont02{
    height: 45px;
    background-color: #404040;
    margin-top: 1px;
    margin-bottom: 1px;
}
.img01{   
    max-width: 100%;
}
.boxIMG img{
    height: 400px;
    position: absolute;
    left: 349px;
}
/* Posição em relação ao <div> containers */
.txt01{
    color: #f9f9f9;
    background: unset;
    position: absolute;
    font-weight: 300;
    font-size: 54px;
    top: 10px;
    left: 25px;
}
.txt02{
    color: #f9f9f9;
    position: absolute;
    left: 28px;
    top: 68px;
    font-size: 12px;
    font-weight: 300;
}
.titulo{
    font-size: 40px;
    position: absolute;
    left: 25px;
    color: #ffe500;
    font-weight: 300;
    top: 90px;
    margin: 0px;
}
h1{
    font-size: 24px;
    position: absolute;
    z-index: 1;
    left: 65px;
    color: #f9f9f9;
    top: 100px;
    margin: 0px;
    font-weight: 300;
}
.boxTXT{
    height: 400px;
    width: 348px;
    background-color: #d1d4d9;
    margin-top: 1px;

}
h2{
    font-size: 16px;
    position: absolute;
    z-index: 1;
    left: 28px;
    color: #404040;
    top: 160px;
    margin: 0px;
    font-weight: 400;
}
p{
    font-size: 12px;
    position: absolute;
    left: 28px;
    color: #404040;
    top: 190px;
    margin-right: 560px;
    font-weight: 400;
    text-align: justify;
}